@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:400,600');

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

body {
    font-family: Hind Madurai;
    background: #403A3E; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BE5869, #403A3E); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BE5869, #403A3E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h2 {
    margin-top: 15rem;
    font-size: 5rem;
    color: #ffffff;
}

a {
    text-decoration: underline;
    color: white;
}

#total {
    font-weight: 600;
}

.backbutton {
    width:25px;
    top:28px;
    left:28px;
    position:absolute;
}

.buttontext {
    text-align: center;
    padding-top: 0.7rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.startbutton {
    background: green;
    color: white;
    height: 60px;
    width: 180px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.startscreen {
    margin-top: 15rem;
}

.center {
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}

#cookie {
    width: 40%;
    margin: auto 0;
    cursor: pointer;
}

#counter {
    font-size: 1.6em;
    margin-top: 2%;

}

#progressBar {
    margin-top: 2%;
}

.title {
    font-family: "Hind Madurai";
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    font-size: 2.5rem;
}

.timesection {
    font-family: "Hind Madurai";
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    font-size: 2rem;
}

.text {
    font-size: 1.6rem;
    color: #ffffff;
}

.spacer {
    margin-top: 8vw;
}

.layer-hidden {
    display: none;
}

.gameover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FF0000;
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
}

progress {

}

::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

/* media queries for mobile min max width 320px */
@media only screen and (max-device-width: 480px) {
  .backbutton {
    width:80px;
    top:43px;
    left:40px;
    position:absolute;
  }

  .center {
    transform: translate(0%, 60%);
  }

  .startbutton {
    width: 400px;
    height: 120px;
    margin-top:0rem;
  }

  .buttontext {
      text-align: center;
      padding-top: 2rem;
      font-size: 3rem;
      font-weight: 600;
  }

  .text {
    font-size: 3rem;
    line-height:1.5rem;
}

h2 {
    margin-top: 0rem;
    font-size: 7rem;
    color: #ffffff;
}

p {
    margin-bottom: 0rem;
    line-height: 3.8rem;
}

.title {
    font-size: 5rem;
}

.timesection {
    font-size: 3rem;
}

.gameover {
    font-size: 7rem;
}

#score {
  font-size:3rem;
}

#restart {
  font-size:5rem;
}

.gameOverText {
  margin-top:37rem;
}

.challangeText {
  margin-top:13rem;

}

#cookie {
    width: 60%;
}

}
