@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:400,600');

* {
    user-select: none;
}

html{
    font-size: 1,5rem;
}

body{
    font-family: "Hind Madurai";
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 1rem;
}

.center{
    margin: 0 auto;
    width: 200px;
    text-align: center;
}

.startbutton{
    background: green;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    text-align: center;
}

.buttontext{
    text-align: center;
    padding-top: 0.5rem;
}

.startscreen{
    margin-top: 10rem;
}

#cookie{
    background-image: url("assets/bubble1.png");
    background-position-x: 0px;
    background-position-y: 0px;
    height: 250px;
    width: 250px;
    background-color: midnightblue;
    display: inline-block;
    margin-top:2%;
}


#counter{
    font-size: 1.6em;
    margin-top:2%;

}

#progressBar {
    margin-top: 2%;
}

.container{
    background-color:lightgray;
}

.spacer{
    margin-top: 8vw;
}
.layer-hidden{
    display: none;
}

.gameover{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FF0000;
    text-align: center;
    color: #ffffff;
    font-size: 2rem ;
}

a{
    text-decoration: underline;
    color: white;
}


.title{
    font-family: "Hind Madurai" ;
    font-weight: 600;
    text-align:center;
    color: #FF0000;
    font-size: 2.5rem;
}

.arrow{
    width: 6vw;
}

progress[10]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}





